<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    android:version-code="1"
    android:versionName="1.0"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gera_imagem">

    <uses-sdk android:minSdkVersion="10"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gera_imagem"
        tools:targetApi="31">
        <activity
            android:name=".detalhesproduto"
            android:exported="false"
            android:label="@string/title_activity_detalhesproduto"
            android:theme="@style/Theme.Gera_imagem.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CarregarImagemURL"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="Tela_IMAGEN"/>
                <category android:name="android.intent.category.default"/>
            </intent-filter>
    </activity>
    <activity
        android:name=".Pratos Exibir"
        android:label="@string/app_name">
            <intent-filter>
                <action android:name="TELA_EXIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
    </activity>
    </application>

</manifest>